<template>
  <v-layout row wrap>
    <v-flex lg12 md12 sm12 xs12>
      <h4 style="margin-left: 2%">{{title}}</h4>
    </v-flex>
    <v-flex lg4 md6 sm12 xs12 v-for="(n, key) in images" :key="key">
      <v-container fluid>
        <at-card :body-style="{ padding: 0 }">
          <div>
           <router-link :to="{name: 'SingleImage', params: {image_id: n}}">
             <img style="width: 100%" src="https://misc.aotu.io/koppthe/at-ui/cover.jpg">
           </router-link>
            <div style="padding: 14px;">
              <p>Image Title</p>
              <div class="">
                <tags :tags="6"></tags>
              </div>
              <br>
              <router-link :to="{name: 'SingleImage', params: {image_id: n}}"  v-if="route !== 'MyUploads'">
                <at-button>View Image</at-button>
              </router-link>
              <at-button type="text"  v-if="route !== 'MyUploads'"><i class="icon icon-download"></i></at-button>
              <router-link :to="{name: 'ImageProgress', params: {image_id: n}}" v-if="route === 'MyUploads'">
                <at-button> Image Overview</at-button>
              </router-link>
            </div>
          </div>
        </at-card>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import Tags from './Tags'

export default {
  components: {Tags},
  props: ['images', 'title'],
  name: 'images',
  data () {
    return {
      route: this.$route.name
    }
  }
}
</script>

<style scoped>

</style>
