<template>
  <at-card  style="width: 99%">
    <h4 slot="title">Image Title</h4>
    <div slot="extra"><i class="icon icon-download"></i></div>
    <div>
      <p>Date: </p>
      <p>Location: </p>
      <p>ISO: </p>
      <p>Aperture: </p>
      <p>Camera: </p>
      <p>Lens: </p>
    </div>
    <tags :tags="10"></tags>
  </at-card>
</template>

<script>
import Tags from './Tags'

export default {
  components: {Tags},
  name: 'image-details',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
