<template>
  <div class="">
    <router-link to="" v-for="(t, key) in tags" :key="key">
      <at-badge :value="`#tag ${t}`" status="success"></at-badge>
    </router-link>
  </div>
</template>

<script>
export default {
  props: ['tags'],
  name: 'tags',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
