<template>
  <v-card>
    <v-card-media src="https://misc.aotu.io/koppthe/at-ui/cover.jpg" height="200px"></v-card-media>
    <v-card-title primary-title>
      <div>
        <h3 class="headline mb-0">Add Title</h3>
      </div>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: 'image-ad',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
