<template>
  <v-container>
    <v-layout row wrap>
      <v-flex lg6 md6 sm12 xs12>
        <v-container>
          <at-card :body-style="{ padding: 0 }" style="width: 100%">
            <ve-line :data="chartData" :settings="chartSettings"></ve-line>
          </at-card>
        </v-container>
      </v-flex>
      <v-flex lg6 md6 sm12 xs12>
        <v-container>
          <image-details></image-details>
        </v-container>
      </v-flex>
      <v-flex lg12 md12 sm12 xs12>
        <at-card :body-style="{ padding: 0 }" style="width: 100%">
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <at-input v-model="tag" placeholder="Tag"></at-input>
                <br>
                <at-button type="primary">Add Tag</at-button>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <tags :tags="3"></tags>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <at-button type="error">Remove Image</at-button>
              </v-container>
            </v-flex>
          </v-layout>
        </at-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ImageDetails from '../Images/ImageDetails'
import Tags from '../Images/Tags'

export default {
  components: {
    Tags,
    ImageDetails},
  name: 'image-progress',
  data () {
    return {
      chartSettings: {
        axisSite: { right: ['growthRate'] },
        yAxisType: ['KMB', 'percent'],
        yAxisName: ['number', 'rate']
      },
      tag: ''
    }
  },
  computed: {
    chartData: function () {
      return {
        columns: ['date', 'views', 'downloads', 'growthRate'],
        rows: [
          { 'date': '01/01', 'views': 1523, 'downloads': 1523, 'growthRate': 0.12 },
          { 'date': '01/02', 'views': 1223, 'downloads': 1523, 'growthRate': 0.345 },
          { 'date': '01/03', 'views': 2123, 'downloads': 1523, 'growthRate': 0.7 },
          { 'date': '01/04', 'views': 4123, 'downloads': 1523, 'growthRate': 0.31 },
          { 'date': '01/05', 'views': 3123, 'downloads': 1523, 'growthRate': 0.12 },
          { 'date': '01/06', 'views': 7123, 'downloads': 1523, 'growthRate': 0.65 }
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
