<template>
  <div class="">
    <search></search>
    <images :images="17"></images>
  </div>
</template>

<script>
import Images from '../Images/Images'
import Search from '../Basics/Search'

export default {
  components: {
    Search,
    Images},
  name: 'index',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
