<template>
  <v-container >
    <v-layout row wrap>
      <v-flex lg6 offset-lg3>
        <v-container>
          <at-card>
            <h3>Login</h3>
            <br>
            <at-input v-model="auth.email" type="email" placeholder="Email"></at-input>
            <br>
            <at-input v-model="auth.password" type="password" placeholder="Password"></at-input>
            <br>
            <at-button :loading="loading" @click="doLogin()">Login</at-button>
            <router-link :to="{name: 'Registration'}">
              <at-button type="text">Don't Have an account?</at-button>
            </router-link>
          </at-card>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      loading: false,
      auth: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    doLogin: function () {
      this.loading = !this.loading
    }
  }
}
</script>

<style scoped>

</style>
