<template>
<images title="My Downloads" :images="7"></images>
</template>

<script>
import Images from '../Images/Images'

export default {
  components: {Images},
  name: 'my-downloads',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
