<template>
<images title="My Uploads" :images="8"></images>
</template>

<script>
import Images from '../Images/Images'

export default {
  components: {Images},
  name: 'my-uploads',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
