<template>
<v-container >
  <v-layout row wrap>
    <v-flex lg6 offset-lg3>
      <v-container>
        <at-card>
          <h3>Register</h3>
          <br>
          <at-input v-model="new_user.new_user" placeholder="First Name"></at-input>
          <br>
          <at-input v-model="new_user.last_name" placeholder="Last Name"></at-input>
          <br>
          <at-input v-model="new_user.email" type="email" placeholder="Email"></at-input>
          <br>
          <at-input v-model="new_user.password" type="password" placeholder="Password"></at-input>
          <br>
          <at-input v-model="new_user.referal_code" placeholder="Referal Code"></at-input>
          <br>
          <div class="form-group">
            <at-input v-model="password" type="checkbox"></at-input>
            <router-link to="">Terms and Conditions</router-link>
          </div>
          <br>
          <at-button :loading="loading" @click="doRegistration()" >Register</at-button>
          <router-link :to="{name: 'Login'}">
            <at-button type="text">Already Have an account?</at-button>
          </router-link>
        </at-card>
      </v-container>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
export default {
  name: 'registration',
  data () {
    return {
      loading: false,
      new_user: {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        referal_code: ''
      }
    }
  },
  methods: {
    doRegistration: function () {
      this.loading = !this.loading
    }
  }
}
</script>

<style scoped>

</style>
