<template>
  <v-container fluid >
    <v-layout row wrap>
      <v-flex lg8 md8 sm12 xs12>
        <at-card :body-style="{ padding: 0 }" style="width: 99%">
          <img src="https://misc.aotu.io/koppthe/at-ui/cover.jpg" width="100%" alt="">
        </at-card>
      </v-flex>
      <v-flex lg4 md4 sm12 xs12>
        <image-details></image-details>
      </v-flex>
      <v-flex lg12 md12 sm12 xs12 mt-5>
        <v-layout row wrap>
          <v-flex lg6>
            <images :images="3" title="Other Images by *"></images>
          </v-flex>
          <v-flex lg6>
            <images :images="3" title="Related Images"></images>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Images from '../Images/Images'
import ImageAd from '../Ads/ImageAd'
import ImageDetails from '../Images/ImageDetails'

export default {
  components: {
    ImageDetails,
    ImageAd,
    Images},
  name: 'single-image',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
