<template>
<v-container>
  <v-flex lg12 md12 sm12 xs12>
    <at-card :body-style="{ padding: 0 }" style="width: 100%">
      <v-layout row wrap>
        <v-flex lg6 md6 sm12 xs12>
          <v-container>
            <at-button type="default">Upload Image</at-button>
          </v-container>
        </v-flex>
      </v-layout>
    </at-card>
  </v-flex>
</v-container>
</template>

<script>
export default {
  name: 'upload',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
