<template>
  <v-layout row wrap>
    <v-flex lg12 md12 sm12 xs12>
      <v-container>
        <at-input v-model="search" placeholder="Search...."></at-input>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'search',
  data () {
    return {
      search: ''
    }
  }
}
</script>

<style scoped>

</style>
