<template>
  <v-toolbar app color="white" flat>
    <v-toolbar-title >Storilog</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat color="blue" :to="{name: 'Index'}">Home</v-btn>
      <v-btn flat color="success" :to="{name: 'Upload'}">Upload</v-btn>
      <v-btn flat color="orange" :to="{name: 'MyDownloads'}">My Downloads</v-btn>
      <v-btn flat color="purple" :to="{name: 'MyUploads'}">My Uploads</v-btn>
      <v-btn flat color="blue" :to="{name: 'Registration'}">Register</v-btn>
      <v-btn flat color="blue" :to="{name: 'Login'}">Login</v-btn>
      <v-btn flat>About Storilog</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  name: 'top-nav',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
